
<div class="row">
    

    <div class="row" *ngFor="let persona of personasList">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img id="fotoperfil" src={{persona.urlimage}} class="img-fluid rounded-circle" alt="Responsive image">
        </div>
        <div id="nombre" class="col-xs-12 col-sm-4 col-md-2 col-lg-2">

            <p>{{persona.nombre}} {{persona.apellido}}</p>
            <div>
                <p>{{persona.edad}} años </p>
                <p>{{persona.seniority}} </p>
                <p>{{persona.company}}</p>
                <p>{{persona.position}}</p>

            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>{{persona.abouts}}</p>
                <button class="btn btn-warning mb-3" routerLink="/aboutEdit/{{persona.id}}">Editar</button>
                <button class="btn btn-danger mb-3" (click)="borrarPersonaDeLista(persona)">Eliminar</button>
            </span>
        </div>
    </div>
    <span class="flex">
        <button class="btn btn-outline-primary " routerLink="/aboutNuevo"> Nuevo</button>
    </span>
</div>