<p>edit-experience works!</p>
<div class="container-mt-3 contenedor col-xs-12 col-sm-12 col-md-12 col-lg-12 flex" *ngIf="listExperience">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="position">Titulo: </label>
                    <input type="text" class="form-control" id="position" name="position"
                    [(ngModel)]="listExperience.position" required>
                </div>
                <div class="form-group">
                    <label for="company">Titulo: </label>
                    <input type="text" class="form-control" id="company" name="company"
                    [(ngModel)]="listExperience.company" required>
                </div>
                <div class="form-group">
                    <label for="starts">Inicio: </label>
                    <input type="number" class="form-control" id="starts" name="starts"
                    [(ngModel)]="listExperience.starts" required>
                </div>
                <div class="form-group">
                    <label for="ends">Fin: </label>
                    <input type="number" class="form-control" id="ends" name="ends"
                    [(ngModel)]="listExperience.ends" required>
                </div>

                <div class="form-group">
                    <label for="urlimg">UrlImage:  </label>
                    <input type="text" class="form-control" id="urlimg" name="urlimg"
                    [(ngModel)]="listExperience.urlimg" required>
                </div>
                <div class="form-group">
                    <label for="mode">UrlImage:  </label>
                    <input type="text" class="form-control" id="mode" name="mode"
                    [(ngModel)]="listExperience.mode" required>
                </div>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Actualizar</button>
                <button class="btn btn-info" routerLink="/">Volver</button>
            </form>
        </div>
    </div>
</div>