.row{

    padding:40px;
    background-color:dodgerblue;
    
}
.border{
    border-radius: 100px;
    border-style: ridge;
}
.card{
    
    padding:40px;
    background-color:dodgerblue;
    
}
.margin{
    margin-top: 30px;
}
.contenedor{
    width:auto;
    
}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}

.img-proyecto{
    box-shadow: 0px 0px 40px rgb(253, 250, 250);
   /* background-color: aliceblue;*/
   
}

ul{
    list-style:none;
}
   
