<!--Vista-->
<div class="contenedor">
<div class="row">
    <div class="btn-edit"> 
        <h1>Proyectos realizados 
            <br>
            <hr>
            <td *ngIf="isAdmin"><a href="#" class="btn-right"><i class="fa-solid fa-circle-plus fa-xs" data-bs-target="#newProject" data-bs-toggle="modal"></i></a>
            </td>
        </h1>
    </div>
    <div class="border">
        <div class="margin">
        <ul class="item-list">
            <li *ngFor="let project of projectList">
                <div class="col-sm-11 col-md-7 col-lg-7 parte1">
                    <h3>{{project.name}}</h3>
                    <div class="btn-edit"> 
                        <h3>{{project.aboutProject}}
                            <td *ngIf="isAdmin"><a href="#" class="btn-right"><i class="fa-solid fa-pen-to-square fa-sm fa-fw" (click)="getProjectEdit(project)"data-bs-target=" #editProject" data-bs-toggle="modal"></i></a>  
                            </td>
                            <td *ngIf="isAdmin"><a href="#" class="btn-right"><i class="fa-solid fa-trash fa-sm fa-fw" (click)="borrarProjectDeLista(project)"></i></a> 
                            </td> 
                        </h3> 
                    </div>
                </div>
                <div class="col-sm-11 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                    <img src={{project.urlimg}} class="img-fluid img-proyecto">
                </div>
           
            </li>
        </ul>
    </div>
    </div>
</div>
</div>

<!--Edicion-->
<div class="modal fade" id="editProject" tabindex="-1" role="dialog"
    aria-labelledby="editProjectLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProjectLabel">Editar Proyecto</h5>
            </div>
            <div *ngIf="listProject" class="modal-body">
                <form novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="name">Nombre del proyecto: </label>
                        <input type="text" class="form-control" id="name" name="name"
                        [(ngModel)]="listProject.name" required>
                    </div>
                    <div class="form-group">
                        <label for="aboutProject">Institución</label>
                        <input type="text" class="form-control" id="aboutProject" name="aboutProject"
                        [(ngModel)]="listProject.aboutProject" required>
                    </div>
                    <div class="form-group">
                        <label for="urlimg">UrlImage:  </label>
                        <input type="text" class="form-control" id="urlimg" name="urlimg"
                        [(ngModel)]="listProject.urlimg" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" (click)="modificarProject(listProject.id)">modificar</button>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Nuevo-->

<div class="modal fade" id="newProject" tabindex="-1" role="dialog"
    aria-labelledby="newProjectLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newProjectLabel">Nuevo Proyecto</h5>
            </div>
            <div class="modal-body">
            <form novalidate #f="ngForm">
                <div class="form-group">
                        <label for="name">Nombre:</label>
                            <input type="text" class="form-control" id="name" name="name" 
                            [(ngModel)]="name" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="urlimg">Imagen Url</label>
                            <input type="text" class="form-control" id="urlimg" name="urlimg" 
                            [(ngModel)]="urlimg" >
                    </div>    
                    
                    <div class="form-group">
                        <label for="aboutProject">Modo</label>
                            <input type="text" class="form-control" id="aboutProject" name="aboutProject" 
                            [(ngModel)]="aboutProject" >
                    </div>
                    <br>
                    
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" [disabled]="!f.valid" (click)="onCreate()">Crear</button>
            <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>
