<p>education-experience works!</p>
<div class="row">
    <h1>Educacion y Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>EEMNº2 "BR"</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Doloremque non, placeat 
                odio, dicta nemo illo temporibus tenetur 
                consequuntur  nobis iusto officiis architecto 
                sapiente commodi porro similique vero cupiditate 
                velit voluptates?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Unsam</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Doloremque non, placeat 
                odio, dicta nemo illo temporibus tenetur 
                consequuntur  nobis iusto officiis architecto 
                sapiente commodi porro similique vero cupiditate 
                velit voluptates?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Programación python</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Doloremque non, placeat 
                odio, dicta nemo illo temporibus tenetur 
                consequuntur  nobis iusto officiis architecto 
                sapiente commodi porro similique vero cupiditate 
                velit voluptates?
            </p>
        </ul>
        <ul>
            <li>
                <h1>inglés para desarrollo</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Doloremque non, placeat 
                odio, dicta nemo illo temporibus tenetur 
                consequuntur  nobis iusto officiis architecto 
                sapiente commodi porro similique vero cupiditate 
                velit voluptates?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Programación web Full Stack Java</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Doloremque non, placeat 
                odio, dicta nemo illo temporibus tenetur 
                consequuntur  nobis iusto officiis architecto 
                sapiente commodi porro similique vero cupiditate 
                velit voluptates?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Programación python</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Doloremque non, placeat 
                odio, dicta nemo illo temporibus tenetur 
                consequuntur  nobis iusto officiis architecto 
                sapiente commodi porro similique vero cupiditate 
                velit voluptates?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Argentina programa-Se programar</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Doloremque non, placeat 
                odio, dicta nemo illo temporibus tenetur 
                consequuntur  nobis iusto officiis architecto 
                sapiente commodi porro similique vero cupiditate 
                velit voluptates?
            </p>
        </ul>
        <ul>
            <li>
                <h1>ArgentinaPrograma - Yo programo</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Doloremque non, placeat 
                odio, dicta nemo illo temporibus tenetur 
                consequuntur  nobis iusto officiis architecto 
                sapiente commodi porro similique vero cupiditate 
                velit voluptates?
            </p>
        </ul>

    </div>
</div>
