.row{

    padding:20px;
    background-color:dodgerblue;
}

h1, h3{
    display:inline
   
}
.data-container {
    background-color:dodgerblue;
    
}
.border{
    padding:40px;
    border-radius: 100px;
    border-style: ridge;
}
.btn-group{
    justify-content:end;
}
ul{
    list-style:none;
}
