a:link, a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
    font-size: small;
  }
  .login{
    /*background-color: rgb(59, 151, 243);*/
    width: 800px;
    flex: auto;
    margin-inline: 100px;
    color:black
    
  }
 