img{
    width: 100%;
}

@media(min-width:576px){
    img{ 
        min-width:20%;
        max-width: 100%;   
    }
}

@media(max-width:575px){
    img{ 
        min-width:30%;
        max-width: 100%;
    }
}