
<div class="card">
    <div class="card-body" >
    <h1>
        Hard & Soft Skills
    </h1>
    <div class="text-left col-xs-1 col-sm-5 col-md-5 col-lg-4 padding">
        <button class="btn btn-outline-primary mb-3" routerLink="/skillNuevo"> Nuevo</button>
    </div>

    <div class="row" >
        <div class="text-center col-xs-1 col-sm-5 col-md-5 col-lg-4 padding" 
        *ngFor="let skill of skillsList ; let i=index">
            <circle-progress class="circle"

            [title]="skill.name"
            [titleColor]="'white'"
            [titleFontSize]="'1em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [percent]="skill.progress"
            [radius]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="skill.outerStrokeColor"
            [innerStrokeColor]="skill.innerStrokeColor"
            [animation]="true"
            [animationDuration]="300"

            ></circle-progress>
            <button class="btn btn-warning mb-3" routerLink="/skillEdit/{{skill.id}}">Editar</button>
            <button class="btn btn-danger mb-3" (click)="borrarSkillDeLista(skill)">Eliminar</button>
            <button class="btn btn-info mb-3" (click)="openModal()">Abrir modal</button>
        </div>
    </div>
</div>
    <div *ngIf="modalSwitch == true">
    
        <app-modal-edit-skill></app-modal-edit-skill>
    
    </div>
</div>

    
    