
<div class="card">
    <div class="card-body">
        <h1>
            Hard & Soft Skills  <button class="btn btn-info mb-1" routerLink="/skillNuevo"> Nuevo</button>
        </h1>
        <div class="row">
            <div class="text-center col-xs-1 col-sm-5 col-md-5 col-lg-4 padding" *ngFor="let skill of skillsList ; let i=index">
                <circle-progress class="circle" 
                [title]="skill.name" 
                [titleColor]="'white'" 
                [titleFontSize]="'1em'"
                [showSubtitle]="false" 
                [showUnits]="false" 
                [percent]="skill.progress" 
                [radius]="90" 
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8" 
                [outerStrokeColor]="skill.outerStrokeColor"
                [innerStrokeColor]="skill.innerStrokeColor" 
                [animation]="true" 
                [animationDuration]="300">

                </circle-progress>
                <button class="btn btn-warning mb-3" routerLink="/skillEdit/{{skill.id}}">Editar</button>
                <button class="btn btn-danger mb-3" (click)="borrarSkillDeLista(skill)">Eliminar</button>
                
                <!--<button type="btn btn-secundary" data-bs-toggle="modal" 
                data-bs-target="#contenido-modal" (click)="modificarSkill(skill)">Launch
                    modal</button>-->
                <button type="btn btn-secundary" data-bs-toggle="modal" 
                data-bs-target="#contenido-modal">Launch
                    modal</button>
            </div>
        </div>

            <div class="modal fade" id="contenido-modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content"></div>
                    <div class="modal-header">
                        <div class="modal-title">Título del modal</div>
                        <button class="close" data-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-4">
                                    <app-edit-skill></app-edit-skill>
                                </div>
                                <div class="col-5">
                                </div>
                                <div class="col-6">
                                </div>
                                <div class="col-12">
                                </div>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing eli
                            t. Ipsam aut recusandae, a iste mollitia, adipisci rem dolores
                            culpa pariatur ad ullam
                            delectus temporibus ea iusto, corrupti quia quisqua
                            m quis et?</p>
                            
                            <div>

                                <app-edit-skill></app-edit-skill>
                            
                            </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button class="btn btn-prymary">Guardar</button>
                        <!--<button class="btn btn-prymary mb-3" (click)="modificarSkill(skill.id)">Modificar</button>-->
                    </div>
                </div>
            </div>
        </div>

    
<div >
    <app-modal-edit-skill></app-modal-edit-skill>
</div>
<div *ngIf="modalSwitch == true">

    <app-modal-edit-skill></app-modal-edit-skill>

</div>

