img{
    width:100%;
}
.row{
    padding:30px;
}
div{
    background-color:dodgerblue;
    max-width: max-content;
    
}
/*#nombre{
    font-weight:bold;
    margin-top:5%;
    
}*/

@media(min-width:576px){
    #fotoPerfil{ 
        position: relative;
        min-width:7em;
        border-radius:100%;
        box-shadow: 3px 3px 3px yellowgreen;
        left: -4%;
        top: -45%;
    }
    #nombre{
        font-weight:bold;
        margin-top:5%;
    }
}
@media(max-width:575px){
    #fotoPerfil{ 
        position: relative;
        width:35%;
        border-radius:100%;
        box-shadow: 3px 3px 3px rgb(255, 255, 254);
        left: 3%;
        top: -60%;
    }
    #nombre{
        font-weight:bold;
        margin-top:-20%;
    }
}