#apIco{
    width:150px;
}
a img {
    width: 50px;
    margin-inline: 1px;
    
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes{
    margin-right:0.5em;
}
.btn{
    border-width: medium;
}

/*--Celulares --*/
@media(max-width: 575px){
.container{
    flex-direction: column;
}
.redes{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.redes img{
    margin: 0.2em;
}
}
.userName>h6{
    margin-bottom: 1px;
    text-align: right;
}