<div class="row">
    <div class="container">
        <div class="logo">
                <img id="apIco"src="../../../assets/argprogsf.png" alt="">
        </div>
        <div class="redes">
                <a href="https://www.facebook.com/karina.bouza1"><img src="../../../assets/faceIcon1.png" id="linkedin"></a>
                <a href=""><img src="../../../assets/faceIcon1.png" id="twitter"></a>
                <a href=""><img src="../../../assets/faceIcon1.png" id="instagram"></a>
                <a href=""><img src="../../../assets/faceIcon1.png" id="github"></a>
                <a href=""><img src="../../../assets/faceIcon1.png" id="facebook"></a>
                <button type="button" class="btn btn-outline-light">Iniciar sesion</button>
        </div>
    </div>   
</div>
    
    
        
    


