/* You can add global styles to this file, and also import other style files */

header{
    background-color:lightskyblue;  
}
div{
    opacity:50;
}

ul{
    list-style: none;
}

/* 
* div .row{
    .no-gutters
}
*/
body{
    max-width:fit-content;
    /*background-color: dodgerblue;*/
    background-image: URL("../../../assets/");
    /*align-items: stretch;*/
    max-width:inherit;
    margin-left: 0%;
    align-items: center;
}
.row{flex-shrink: 1em;}