<div class="row">
    <h1>Experiencia Laboral   <button class="btn btn-info mb-1" routerLink="/experienceNuevo"> Nuevo</button>
    </h1>
    <div class="border">

   <div class="col-lg-1"></div>
    <div class="col-lg-11">
        
        <ul class="item-list">
            <li *ngFor="let experience of listExperience">
                <div class="data-container">
                <div class="list-info">
                    <div>
                        <h3>Posición: {{experience.position}} </h3>
                        <h3>en: {{experience.company}} </h3> - 
                        <h3>( {{experience.starts}} - {{experience.ends}} ) </h3>
                        <h3>{{experience.urlimg}}</h3>
                        <h3>{{experience.mode}}</h3>
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-info">Agregar</button>
                        <button type="button" class="btn btn-warning" routerLink="/experienceEdit/{{experience.id}}">Editar</button>
                        <button type="button" class="btn btn-danger" (click)="borrarExperienceDeLista(experience)">Eliminar</button>
                      </div>   
                
                </div>
            </div>
            </li>
    
        </ul>
    </div>
       

    </div>
</div>
